{%- unless template == 'index' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}
  <nav
    class="breadcrumbs{% if t == 'product' and next_prev %} d-flex flex-nowrap gap-10 space-between align-center{% endif %}"
    role="navigation"
    aria-label="breadcrumbs"
  >
    <ol class="bls__breadcrumb-list p-0 list-none my-0">
      <li class="bls__breadcrumb-item d-inline-flex">
        <a class="bls__breadcrumb-link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
        <span aria-hidden="true" class="bls__breadcrumb-separator px-6"
          ><i class="lnr lnr-chevron-right fs-10"></i
        ></span>
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          <li class="bls__breadcrumb-item d-inline-flex">
            <a class="bls__breadcrumb-link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.pages' | t }}</a>
            <span aria-hidden="true" class="bls__breadcrumb-separator px-6"
              ><i class="lnr lnr-chevron-right fs-10"></i
            ></span>
          </li>
          <li class="bls__breadcrumb-item d-inline-flex">
            <span class="bls__breadcrumb-link" aria-current="page">{{ page.title }}</span>
          </li>
        {%- when 'product' -%}
          {%- if collection.url -%}
            <li class="bls__breadcrumb-item d-inline-flex">
              {{ collection.title | link_to: collection.url }}
              <span aria-hidden="true" class="bls__breadcrumb-separator px-6"
                ><i class="lnr lnr-chevron-right fs-10"></i
              ></span>
            </li>
          {%- endif -%}
          <li class="bls__breadcrumb-item d-inline-flex">
            <span class="bls__breadcrumb-link" aria-current="page">{{ product.title }}</span>
          </li>
        {%- when 'collection' and collection.handle -%}
          {%- if current_tags -%}
            <li class="bls__breadcrumb-item d-inline-flex">
              {{ collection.title | link_to: collection.url }}
            </li>
            <li class="bls__breadcrumb-item d-inline-flex">
              <span aria-hidden="true" class="bls__breadcrumb-separator px-6"
                ><i class="lnr lnr-chevron-right fs-10"></i
              ></span>
              <span class="bls__breadcrumb-link" aria-current="page">
                {{- current_tags | join: ' + ' -}}
              </span>
            </li>
          {%- else -%}
            <li class="bls__breadcrumb-item d-inline-flex">
              <span class="bls__breadcrumb-link" aria-current="page">
                {{- collection.title -}}
              </span>
            </li>
          {%- endif -%}
        {%- when 'blog' -%}
          {%- if current_tags -%}
            <li class="bls__breadcrumb-item d-inline-flex">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="bls__breadcrumb-item d-inline-flex">
              <span aria-hidden="true" class="bls__breadcrumb-separator px-6"
                ><i class="lnr lnr-chevron-right fs-10"></i
              ></span>
              <span class="bls__breadcrumb-link" aria-current="page">
                {{- current_tags | join: ' + ' -}}
              </span>
            </li>
          {%- else -%}
            <li class="bls__breadcrumb-item d-inline-flex">
              <span class="bls__breadcrumb-link" aria-current="page">{{ blog.title }}</span>
            </li>
          {%- endif -%}
        {%- when 'article' -%}
          <li class="bls__breadcrumb-item d-inline-flex">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="bls__breadcrumb-item d-inline-flex">
            <span aria-hidden="true" class="bls__breadcrumb-separator px-6"
              ><i class="lnr lnr-chevron-right fs-10"></i
            ></span>
            <span class="bls__breadcrumb-link" aria-current="page">{{ article.title }}</span>
          </li>
        {%- else -%}
          <li class="bls__breadcrumb-item d-inline-flex">
            <span class="bls__breadcrumb-link" aria-current="page">{{ page_title }}</span>
          </li>
      {%- endcase -%}
    </ol>
    {%- if t == 'product' and next_prev -%}
      <div class="bls-product-next-prev">
        <div class="next-prev d-flex gap-10 relative align-center">
          {%- liquid
            assign previous_product = collection.previous_product
            assign next_product = collection.next_product
            assign collection_list = collection
            if previous_product or next_product
            else
              assign collection_list = product.collections[0]
              assign collectionList = collection_list.handle
              assign previous_product = null
              assign next_product = null
              assign last = collections[collectionList].products_count
              for p in collections[collectionList].products
                if p.handle == product.handle
                  assign prev = forloop.index | minus: 2
                  assign next = forloop.index
                  if prev >= 0
                    assign previous_product = collections[collectionList].products[prev]
                  endif
                  if last >= next
                    assign next_product = collections[collectionList].products[next]
                  endif
                  break
                endif
              endfor
            endif
          -%}
          {%- if previous_product -%}
            <div class="hover-event lh-1">
              <a href="{{ previous_product.url }}" class="bls-nav-pr previous-product lh-1 text-color">
                <i class="lnr lnr-chevron-left fs-18"></i>
              </a>
              <div class="bls__product-item list-view-item d-none-mb flex flex-nowrap bg-white p-10 absolute top-100 right-0 z-4 min-w-260 opacity-0">
                <div class="bls__product-img overflow-hidden relative col-3 mr-10 mw-50">
                  <a href="{{ previous_product.url | within: collection }}">
                    <div class="bls__product-image">
                      {%- if previous_product.featured_image != blank -%}
                        {%- render 'responsive-image' | image: previous_product.featured_image | type: 'product' | cls: 'bls__product-grid bls__product-img-sw' -%}
                      {%- else -%}
                        {%- render 'placeholder-render' | type: 'product' | cls: 'bls__product-grid-plh' -%}
                      {%- endif -%}
                    </div>
                  </a>
                </div>
                <div class="bls__product-details">
                  <h3 class="bls__product-name regular mb-0">
                    <a href="{{ previous_product.url | within: collection }}">
                      {{ previous_product.title }}
                    </a>
                  </h3>
                  <div class="bls__product-price mb-7 mt-5">
                    {%- render 'price', product: previous_product, use_variant: true, price_class: 'price--large' -%}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
          <a href="{{ collection_list.url }}" class="bls-nav-back lh-1 text-color bls_tooltip relative">
            <i class="picon-grid fs-18 fw-500"></i>
            <span class="bls_tooltip-content z-5">{{ 'products.product.back_to_product' | t }}</span>
          </a>
          {%- if next_product -%}
            <div class="hover-event lh-1">
              <a href="{{ next_product.url }}" class="bls-nav-pr next-product lh-1 text-color">
                <i class="lnr lnr-chevron-right fs-18"></i>
              </a>
              <div class="bls__product-item list-view-item d-none-mb flex flex-nowrap bg-white p-10 absolute top-100 right-0 z-4 min-w-260 opacity-0">
                <div class="bls__product-img overflow-hidden relative col-3 mr-10 mw-50">
                  <a href="{{ next_product.url | within: collection }}">
                    <div class="bls__product-image">
                      {%- if next_product.featured_image != blank -%}
                        {%- render 'responsive-image' | image: next_product.featured_image | type: 'product' | cls: 'bls__product-grid bls__product-img-sw' -%}
                      {%- else -%}
                        {%- render 'placeholder-render' | type: 'product' | cls: 'bls__product-grid-plh' -%}
                      {%- endif -%}
                    </div>
                  </a>
                </div>
                <div class="bls__product-details flex-1">
                  <h3 class="bls__product-name regular mb-0">
                    <a href="{{ next_product.url | within: collection }}">
                      {{ next_product.title }}
                    </a>
                  </h3>
                  <div class="bls__product-price mb-7 mt-5">
                    {%- render 'price', product: next_product, use_variant: true, price_class: 'price--large' -%}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </nav>
{%- endunless -%}
