{{ 'product.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign th_st = settings
  assign container = th_st.general_layout
  assign custom_container = th_st.custom_width_bd
  assign container_width = ''
  if container == 'default'
    assign container_width = '1260'
  elsif container == custom_width
    assign container_width = custom_container
  endif
  assign width_default = container_width | minus: 130 | divided_by: 4 | append: 'px'
  if width
    assign width_default = width
  endif
  assign ratio = '1/1'
  if settings.product_aspect_ratio != 'custom'
    assign ratio = settings.product_aspect_ratio
  else
    assign ratio = settings.product_aspect_ratio_custom | replace: ':', '/'
  endif
  assign option_name = 'Color'
  if th_st.option_name_color != blank
    assign option_name = th_st.option_name_color | split: ','
  endif
  assign color_type = th_st.swatch_type
  assign selector_type = th_st.swatch_selector_type
  assign sale = false
  assign sold_out = false
  assign pre_order = false
  assign show_quick_view = th_st.show_quick_view
  assign show_add_to_cart = th_st.show_add_to_cart
  assign show_wishlist = th_st.show_wishlist
  assign show_compare = th_st.show_compare
  assign show_review = th_st.show_review
  if show_add_to_cart != true and show_compare != true and show_wishlist != true and show_quick_view != true
  endif
  assign product_label_style = th_st.product_label_style
  assign hidden_button_add_to_cart = th_st.hidden_button_add_to_cart
  assign current_variant = product.selected_or_first_available_variant
  assign hidden_price = th_st.hidden_price
  assign compare_at_price = current_variant.compare_at_price
  assign price = current_variant.price | default: 1999
  if compare_at_price > price and compare_at_price != blank
    assign sale = true
    assign percent = compare_at_price | minus: price
  endif
  if current_variant.available and current_variant.inventory_quantity < 1
    assign pre_order = true
  elsif current_variant.available == false
    assign sold_out = true
  endif
  if current_variant.inventory_management == null
    assign pre_order = false
    assign sold_out = false
  endif

  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'
  assign subscription = product.selling_plan_groups.size

  assign message_qv_countdown_timer = th_st.message_qv_countdown_timer
  assign imgPopup = product.media
  assign imageDev = imgPopup[0]
-%}
<div
  class="shopable-popup-action"
  data-msrc="{% if block.settings.video_local != blank %}{{ block.settings.video_local.preview_image.src | image_url }}{% elsif block.settings.banner_img != blank %}{{ block.settings.banner_img | image_url }}{% endif %}"
>
  <div class="bls-shopable-product-popup d-flex align-items-center gap-10">
    <div class="bls-shopable-product-popup-item d-flex align-items-center flex-1">
      <div class="bls-shopable-product_image mr-10">
        <div
          class="bls__shopable-main-img"
          {% if ratio != blank %}
            style="--aspect-ratio: {{ ratio }};"
          {% endif %}
        >
          {%- if imageDev != blank -%}
            <img
              srcset="
                {%- if imageDev.width >= 165 -%}{{ imageDev | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if imageDev.width >= 360 -%}{{ imageDev | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if imageDev.width >= 533 -%}{{ imageDev | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if imageDev.width >= 720 -%}{{ imageDev | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if imageDev.width >= 940 -%}{{ imageDev | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if imageDev.width >= 1066 -%}{{ imageDev | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ imageDev | image_url }} {{ imageDev.width }}w
              "
              src="{{ imageDev | image_url: width: 533 }}"
              sizes="(min-width: {{ container_width }}px) {{ width_default }}, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ imageDev.alt | escape }}"
              class="motion-reduce"
              loading="lazy"
              width="{{ imageDev.width }}"
              height="{{ imageDev.height }}"
              style="--point:{{ imageDev.presentation.focal_point }}"
            >
          {%- else -%}
            {%- render 'placeholder-render' | type: 'product' -%}
          {%- endif -%}
        </div>
      </div>
      <div class="bls-shopable-product_info flex-1">
        <h6 class="h6 bls-shopable-product-name">
          {{ product.title }}
        </h6>
        {% if settings.hidden_price == false %}
          <div class="bls-shopable-product-price">
            {%- render 'price', product: product, use_variant: true -%}
          </div>
        {% endif %}
      </div>
    </div>
    <button-show-product
      ><span class="btn-primary shopable-action">{{- 'collection.shop_now' | t -}}</span></button-show-product
    >
  </div>
</div>
<div
  class="bls__product-shopable-video-item bls__product-shopable-video-item-popup {{ product_label_style }}"
>
  <slide-image-shopable>
    <div
      class="swiper bls__swiper-shopable"
      id="bls__swiper-{{ block.id }}"
      data-section-id="{{ block.id }}"
      data-autoplay="false"
      data-loop="false"
      data-mobile="2"
      data-tablet="2"
      data-desktop="2"
      data-arrow-centerimage="1"
      data-item-mobile="1"
      data-spacing="15"
      data-pagination-progressbar="carousel_pagination_progress"
    >
      <div
        class="swiper-wrapper"
      >
        {%- for media in product.media -%}
          {%- if media.preview_image and media.preview_image.alt contains 'image-360' -%}
            {%- continue -%}
          {%- endif -%}
          <div class="swiper-slide">
            <div class="product-shopable__media" style="--aspect-ratio: {{ ratio }}">
              <img
                srcset="
                  {% if media.preview_image.width >= 493 %}{{ media.preview_image | image_url: width: 493 }} 493w,{% endif %}
                  {% if media.preview_image.width >= 600 %}{{ media.preview_image | image_url: width: 600 }} 600w,{% endif %}
                  {% if media.preview_image.width >= 713 %}{{ media.preview_image | image_url: width: 713 }} 713w,{% endif %}
                  {% if media.preview_image.width >= 823 %}{{ media.preview_image | image_url: width: 823 }} 823w,{% endif %}
                  {% if media.preview_image.width >= 990 %}{{ media.preview_image | image_url: width: 990 }} 990w,{% endif %}
                  {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if media.preview_image.width >= 1206 %}{{ media.preview_image | image_url: width: 1206 }} 1206w,{% endif %}
                  {% if media.preview_image.width >= 1346 %}{{ media.preview_image | image_url: width: 1346 }} 1346w,{% endif %}
                  {% if media.preview_image.width >= 1426 %}{{ media.preview_image | image_url: width: 1426 }} 1426w,{% endif %}
                  {% if media.preview_image.width >= 1646 %}{{ media.preview_image | image_url: width: 1646 }} 1646w,{% endif %}
                  {% if media.preview_image.width >= 1946 %}{{ media.preview_image | image_url: width: 1946 }} 1946w,{% endif %}
                  {{ media.preview_image | image_url }} {{ media.preview_image.width }}w
                "
                src="{{ media | image_url: width: 1946 }}"
                sizes="(min-width: {{ container_width }}px) {{ container_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                loading="lazy"
                width="1000"
                height="{{ 1000 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                alt="{{ media.preview_image.alt | escape }}"
              >
            </div>
          </div>
        {%- endfor -%}
      </div>
      <div class="swipper-next-back">
        <div class="swiper-arrow swiper-next swiper-button-next-item box-shadow">
          <i class="lnr lnr-chevron-right"></i>
        </div>
        <div class="swiper-arrow swiper-prev swiper-button-prev-item box-shadow">
          <i class="lnr lnr-chevron-left"></i>
        </div>
      </div>
      <div
        class="swiper-pagination-item"
      ></div>
    </div>
  </slide-image-shopable>
  <div
    class="bls__product-details  mt-20"
  >
    {%- if sale or sold_out or pre_order or subscription > 0 -%}
      <div
        class="bls__product-label mb-7 fs-12 pointer-events-none d-inline-block"
      >
        {% if product.selling_plan_groups.size > 0 %}
          <div class="bls__selling_plan-label">
            {{- 'products.product.label.subscription' | t -}}
          </div>
        {% endif %}
        {%- if sale -%}
          <div
            class="bls__sale-label"
          >
            {% assign sale_type = settings.product_label_sale_type %}
            {%- if sale_type == 'text' -%}
              {{- 'products.product.label.sale' | t -}}
            {% elsif sale_type == 'percent' %}
              {%- if percent > 0 -%}
                {%- assign percent = percent | times: 100.0 | divided_by: compare_at_price | round -%}
              {%- endif -%}
              -
              {{- percent -}}
              %
            {% elsif sale_type == 'price' %}
              - {{ percent | money }}
            {% endif %}
          </div>
        {%- endif -%}
        {%- if sold_out -%}
          <div
            class="bls__sold-out-label"
          >
            {{ 'products.product.sold_out' | t }}
          </div>
        {%- else -%}
          {%- if pre_order -%}
            <div
              class="bls__pre-order-label"
            >
              {{ 'products.product.pre_order' | t }}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
    <h3
      class="bls__product-title mb-5 fs-24"
    >
      {{ product.title }}
    </h3>
    {%- if show_review -%}
      <div class="bls__product-review-sold flex flex-wrap align-items-center">
        <div
          class="bls__pro-reviews"
        >
          {% render 'product-review' | review_star: true | product: product %}
        </div>
      </div>
    {%- endif -%}
    {% if hidden_price == false %}
      <div
        class="bls__product-price mb-7 biger-price py-10"
      >
        {%- render 'price', product: product, use_variant: true, price_class: 'price--large' -%}
      </div>
    {% endif %}
    {%- if product.metafields.bls.short_description -%}
      <div
        class="bls__single-shortdes mb-20"
        itemprop="description"
      >
        {{ product.metafields.bls.short_description }}
      </div>
    {%- endif -%}
    {%- if product.metafields.bls.countdown_timer -%}
      <div
        class="bls__countdown-timer hidden mb-25 design-1 d-none"
        data-days="{{ 'general.times.days' | t }}"
        data-hrs="{{ 'general.times.hrs' | t }}"
        data-mins="{{ 'general.times.mins' | t }}"
        data-secs="{{ 'general.times.secs' | t }}"
        data-time="{{ product.metafields.bls.countdown_timer }}"
      >
        <div class="des-countdown-p-p-c mb-10">
          <p class="message">{{ message_qv_countdown_timer }}</p>
        </div>
        <div class="bls__product-countdown"></div>
      </div>
    {%- endif -%}
    <div
      class="product-variant-opstion"
    >
      {%- unless product.has_only_default_variant -%}
        <variant-radios-product-shopable-video
          id="variant-radios"
          class="no-js-hidden"
          data-section="{{ block.id }}"
          data-url="{{ product.url }}"
        >
          {%- for option in product.options_with_values -%}
            {%- liquid
              assign option_index = 'option' | append: forloop.index
              assign selected_value = current_variant[option_index]
              assign isColorOption = false
              for colorItem in option_name
                if option.name == colorItem
                  assign isColorOption = true
                endif
              endfor
            -%}
            <fieldset class="js product-form__input flex mb-15 flex-wrap {% if isColorOption %}color{% endif %}">
              <legend class="form__label mb-8">
                <span class="swatch-attribute-label heading-color">{{ option.name }}:</span>
                <span class="swatch-selected-value">
                  {{ option.selected_value }}
                </span>
              </legend>
              {%- liquid
                assign isColorOption = false
                for colorItem in option_name
                  if option.name == colorItem
                    assign isColorOption = true
                  endif
                endfor
              -%}
              {% if isColorOption %}
                {% if color_type == 'radio' %}
                  {%- for value in option.values -%}
                    {%- liquid
                      assign option_disabled = true

                      for option1_name in variants_option1_arr
                        case option.position
                          when 1
                            if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                          when 2
                            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                          when 3
                            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                        endcase
                      endfor
                    -%}
                    <div
                      {% if option_disabled %}
                        data-disabled
                      {% endif %}
                      class="bls__product-color-swatches-radio bls__option-swatch ml-1 mr-20 {% if option.selected_value == value %} active{% endif %}"
                      data-value="{{ value }}"
                      data-filter-color="{{ value }}"
                      data-color="{{ value | downcase }}"
                    >
                      <label class="bls__product-swatches-radio">
                        {{ value }}
                      </label>
                    </div>
                  {%- endfor -%}
                {% elsif color_type == 'dropdown' %}
                  <div class="bls__color-dropdown relative">
                    <div
                      class="bls__color-dropdown-action d-flex align-items-center justify-content-between"
                      data-swatches-value
                    >
                      <span class="bls__color-dropdown-value">
                        {{ selected_value }}
                      </span>
                      <i class="lnr lnr-chevron-down"></i>
                      <i class="lnr lnr-chevron-up"></i>
                    </div>
                    <div class="bls__color-dropdown-content">
                      {%- for value in option.values -%}
                        {%- liquid
                          assign option_disabled = true

                          for option1_name in variants_option1_arr
                            case option.position
                              when 1
                                if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                  assign option_disabled = false
                                endif
                              when 2
                                if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                  assign option_disabled = false
                                endif
                              when 3
                                if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                  assign option_disabled = false
                                endif
                            endcase
                          endfor
                        -%}
                        <div
                          class="bls__product-color-swatches-dropdown selector-type-radio  bls__option-swatch{% if option.selected_value == value %} active{% endif %}"
                          data-value="{{ value }}"
                          {% if option_disabled %}
                            data-disabled
                          {% endif %}
                          data-filter-color="{{ value }}"
                          data-color="{{ value | downcase }}"
                        >
                          <label class="bls__product-swatches-dropdown">
                            {{ value }}
                          </label>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                {% elsif color_type == 'text' %}
                  {%- for value in option.values -%}
                    {%- liquid
                      assign option_disabled = true

                      for option1_name in variants_option1_arr
                        case option.position
                          when 1
                            if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                          when 2
                            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                          when 3
                            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                        endcase
                      endfor
                    -%}
                    <div
                      class="bls__product-color-swatches-text bls__option-swatch bls_tooltip relative ml-1 mb-10 mr-10{% if option.selected_value == value %} active{% endif %}"
                      data-value="{{ value }}"
                      {% if option_disabled %}
                        data-disabled
                      {% endif %}
                      data-color="{{ value | downcase }}"
                      data-filter-color="{{ value }}"
                    >
                      <label class="bls__product-swatches-text">
                        <span
                          class="bls_swatche-item"
                        >
                          {{- value -}}
                        </span>
                        <span
                          class="bls_tooltip-content"
                        >
                          {{- value -}}
                        </span>
                      </label>
                    </div>
                  {%- endfor -%}
                {% else %}
                  {%- for value in option.values -%}
                    {%- liquid
                      assign op = 'option' | append: option.position
                      assign variant = product.variants | where: op, value
                      assign img = ''
                      for i in variant
                        if i.featured_image.src
                          assign img = i.featured_image.src
                          break
                        endif
                      endfor

                      assign option_disabled = true
                      for option1_name in variants_option1_arr
                        case option.position
                          when 1
                            if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                          when 2
                            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                          when 3
                            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                        endcase
                      endfor
                    -%}
                    <div
                      class="bls__product-color-swatches bls__option-swatch bls_tooltip relative ml-1 mb-10 mr-10 {{ th_st.color_swatches_size }} {{ th_st.color_swatches_style }} bls__{{ value | downcase | replace: ' ', '-' }}{% if option.selected_value == value %} active{% endif %}"
                      data-value="{{ value }}"
                      {% if option_disabled %}
                        data-disabled
                      {% endif %}
                      data-color="{{ value | downcase }}"
                      data-filter-color="{{ value }}"
                      data-image="{{ img | image_url: width: 100, height: 100 }}"
                    >
                      <label class="bls__product-swatches">
                        <span class="bls_tooltip-content">{{ value }}</span>
                      </label>
                    </div>
                  {%- endfor -%}
                {% endif %}
              {% else %}
                {% if selector_type != 'dropdown' %}
                  {%- for value in option.values -%}
                    {%- liquid
                      assign option_disabled = true

                      for option1_name in variants_option1_arr
                        case option.position
                          when 1
                            if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                          when 2
                            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                          when 3
                            if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                              assign option_disabled = false
                            endif
                        endcase
                      endfor
                    -%}
                    {% if selector_type != 'radio' %}
                      <div
                        class="bls__option-swatch bls_tooltip relative mb-10 mr-10 {% if option.selected_value == value %} active{% endif %}"
                        data-value="{{ value | escape }}"
                        {% if option_disabled %}
                          data-disabled
                        {% endif %}
                      >
                        <label class="bls__product-swatches bls__{{ value }}">
                          <span class="bls_swatche-item">{{ value }}</span>
                          <span class="bls_tooltip-content">{{ value }}</span>
                        </label>
                      </div>
                    {% else %}
                      <div
                        {% if option_disabled %}
                          data-disabled
                        {% endif %}
                        class="bls__product-type-swatches-radio bls__option-swatch ml-1 mr-20 {% if option.selected_value == value %} active{% endif %}"
                        data-value="{{ value | escape }}"
                      >
                        <label class="bls__product-swatches-radio">
                          {{ value }}
                        </label>
                      </div>
                    {% endif %}
                  {%- endfor -%}
                {% else %}
                  <div class="bls__color-dropdown relative">
                    <div
                      class="bls__color-dropdown-action d-flex align-items-center justify-content-between"
                      data-swatches-value
                    >
                      <span class="bls__color-dropdown-value">
                        {{ selected_value }}
                      </span>
                      <i class="lnr lnr-chevron-down"></i>
                      <i class="lnr lnr-chevron-up"></i>
                    </div>
                    <div class="bls__color-dropdown-content">
                      {%- for value in option.values -%}
                        {%- liquid
                          assign option_disabled = true

                          for option1_name in variants_option1_arr
                            case option.position
                              when 1
                                if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                  assign option_disabled = false
                                endif
                              when 2
                                if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                  assign option_disabled = false
                                endif
                              when 3
                                if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                  assign option_disabled = false
                                endif
                            endcase
                          endfor
                        -%}
                        <div
                          class="bls__product-color-swatches-dropdown selector-type-radio bls__option-swatch{% if option.selected_value == value %} active{% endif %}"
                          data-value="{{ value | escape }}"
                          {% if option_disabled %}
                            data-disabled
                          {% endif %}
                          data-color="{{ value | downcase }}"
                        >
                          <label class="bls__product-swatches-dropdown">
                            {{ value }}
                          </label>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            </fieldset>
          {%- endfor -%}
          <script
            type="application/json"
          >
            {{ product.variants | json }}
          </script>
          <script
            type="application/json"
            class="productVariantsQty"
          >
            [
            {%- for variant in product.variants -%}
              {%- liquid
                assign id = '"id":' | append: variant.id
                assign quantity = '"qty":' | append: variant.inventory_quantity
            -%}
              { {{ id }},{{ quantity }} }
              {%- unless forloop.last -%},{%- endunless forloop.last -%}
            {%- endfor -%}
            ]
          </script>
        </variant-radios-product-shopable-video>
      {%- endunless -%}
    </div>
    <a
      class="btn-more-info uppercase fs-12 heading-weight underline mb-20"
      href="{{ product.url }}"
      role="link"
      aria-label="{{ 'products.product.more_info' | t }}"
    >
      {{- 'products.product.more_info' | t -}}
    </a>
    <div
      class="bls__product-action-single"
    >
      <product-form
        class="product-form bls__product-addtocart-form-js"
        data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
      >
        <div
          class="product-form__error-message-wrapper"
          role="alert"
          hidden
        >
          <span
            class="product-form__error-message"
          ></span>
        </div>
        {%- assign product_form_id = 'product-form-' | append: block.id -%}
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            disabled
          >
          <div
            class="product-form__buttons flex flex-wrap-mb border-top mt-25 pt-20"
          >
            <div
              class="bls__product-action-inner flex flex-1"
              style="--bls__product-icon-radius: var(--btn-border-radius);"
            >
              <button
                type="submit"
                name="add"
                class="{%- if hidden_button_add_to_cart %}d-none {% endif %}product-form__submit relative flex-1 whitespace-nowrap min-height-48 mb-20 mr-10 animation"
                {% if product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
              >
                <span
                  class="hidden-loading"
                >
                  {%- if product.selected_or_first_available_variant.inventory_management != null -%}
                    {%- if product.selected_or_first_available_variant.available
                      and product.selected_or_first_available_variant.inventory_quantity < 1
                    -%}
                      {{ 'products.product.pre_order' | t }}
                    {%- elsif product.selected_or_first_available_variant.available -%}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                  {%- else -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- endif -%}
                </span>
                <span
                  class="loader-icon"
                ></span>
              </button>
              {%- if show_wishlist -%}
                <shopable-wishlist>
                  <button
                    type="button"
                    name="add"
                    role="button"
                    aria-label="button"
                    class="btn-reset bls__product-wishlist bls__product-wishlist-js bls__product-action-btn-js bls_tooltip border mb-20 btn-radius"
                    data-remove-wishlist="{{ 'products.product.remove_wishlist' | t }}"
                    data-pro-add-wishlist="{{ 'products.product.wishlist' | t }}"
                    data-pro-remove-wishlist="{{ 'products.product.browse_wishlist' | t }}"
                    data-action="{% if settings.remove_wishlist == 'on_wishlist_icon' %}remove{% else %}redirect{% endif %}"
                    data-product-handle="{{ product.handle }}"
                  >
                    <span
                      class="bls__product-icon min-height-48 m-width-48 box-shadow-none"
                    >
                      <i class="lnr lnr-heart fs-18"></i>
                    </span>
                    <span
                      class="bls_tooltip-content"
                    >
                      {{- 'products.product.wishlist' | t -}}
                    </span>
                  </button>
                </shopable-wishlist>
              {%- endif -%}
            </div>
          </div>
        {%- endform -%}
      </product-form>
    </div>
  </div>
</div>
