{% assign hidden_price = settings.hidden_price %}
<div
  id="bls__sticky-addcart"
  class="bls__sticky-addcart{% if st.sticky_mode == '1' %} only-show-desktop d-none d-lg-block{% endif %} gradient color-default-color-scheme z-4 fixed inset-x-0 bottom-0 py-15 box-shadow-top"
>
  <div class="sticky-addcart flex justify-content-center justify-content-between-lg align-items-center container">
    <div class="sticky-addcart-product flex-nowrap d-none d-lg-flex align-items-center d-none d-lg-block">
      <div class="sticky-addcart-img mr-15 width-60">
        {%- liquid
          assign image_product = current_variant.featured_image | default: product.featured_image
        -%}
        {%- render 'responsive-image' | image: image_product | type: 'product' | cls: 'bls__product-grid bls__product-img-sw' -%}
      </div>
      <div class="sticky-addcart-infos">
        {%- if settings.show_vendors -%}
          <div class="bls__product-vendor fs-small mt-5 mb-5 d-none">
            {{ product.vendor | link_to_vendor }}
          </div>
        {%- endif -%}
        <div class="bls__product-name">{{ product.title }}</div>
        {% if hidden_price == false %}
          <div class="price heading-weight fs-small">
            {%- render 'price', product: product, use_variant: true, price_class: 'price--large' -%}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="sticky-addcart-product-form">
      {%- if product.metafields.custom.external_affiliate == blank -%}
        <product-form class="product-form flex flex-nowrap">
          {%- assign product_form_id = 'sticky-addcart-form-' | append: section.id -%}
          {%- form 'product',
            product,
            id: product_form_id,
            class: 'form flex flex-nowrap',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form'
          -%}
            {%- if product.variants.size > 1 -%}
              <select name="id" class="sticky-addcart-opstion mr-10 mr-lg-20 btn-radius">
                {% for variant in product.variants %}
                  {% assign selected = false %}
                  {% assign quantity = variant.inventory_quantity %}
                  {%- if quantity < 1 and variant.available == false -%}
                    {% continue %}
                  {%- endif -%}
                  {%- if variant.id == product.selected_or_first_available_variant.id -%}
                    {% assign selected = true %}
                  {%- endif -%}
                  {% assign option = variant.title %}
                  <option
                    value="{{ variant.id }}"
                    data-option="{{ option }}"
                    {% if selected %}
                      selected="true"
                    {% endif %}
                  >
                    {{ variant.title }} -
                    {% if settings.currency_code_enabled %}
                      {{ variant.price | money_with_currency }}
                    {% else %}
                      {{ variant.price | money }}
                    {% endif %}
                  </option>
                {% endfor %}
              </select>
            {%- else -%}
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}"
                disabled
              >
            {%- endif -%}
            <div class="product-form__buttons flex flex-nowrap">
              <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                <label class="form__label visually-hidden" for="Quantity-Sticky-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                </label>
                <quantity-input class="btn-radius quantity  border-2 flex align-items-center text-center mr-10 mr-lg-20 px-8">
                  <button
                    class="btn-reset flex justify-content-center align-items-center quantity__button no-js-hidden width-35"
                    name="minus"
                    type="button"
                  >
                    <i class="picon-minus fs-12"></i>
                  </button>
                  <input
                    class="quantity__input bg-unset border-none text-center width-50 appearance-none p-0-important product-sticky__input"
                    type="number"
                    name="quantity"
                    id="Quantity-Sticky-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                  <button
                    class="btn-reset flex justify-content-center align-items-center quantity__button no-js-hidden width-35"
                    name="plus"
                    type="button"
                  >
                    <i class="picon-plus fs-12"></i>
                  </button>
                </quantity-input>
              </div>
              <button
                type="submit"
                name="add"
                class="product-form__submit animation relative btn-secondary"
                {% if product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
              >
                <span>
                  {%- if product.selected_or_first_available_variant.available -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
                <span class="loader-icon"></span>
              </button>
            </div>
          {%- endform -%}
        </product-form>
      {%- else -%}
        <a
          href="{{ product.metafields.custom.external_affiliate.value.external_link }}"
          rel="nofollow"
          target="_blank"
          class="btn product-form__submit animation relative btn-secondary"
        >
          {{- product.metafields.custom.external_affiliate.value.button_text -}}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>
