{%- liquid
  assign menu_type = menu_type
-%}
{% if link.links.size > 0 %}
  {% if menu_type != 'dropdown' %}
    <div class="fw-600 submenu-mobile-title justify-content-between">
      <a role="link" class="back-main-menu pointer">
        <i class="lnr lnr-chevron-left"></i>
        {{ link.title }}
      </a>
      <i class="icon-x close-menu pointer"></i>
    </div>
    <ul
      class="list-unstyled column-menu grid-cols px-30 px-1025-0"
    >
      {% for child_link in link.links %}
        <li class="subchildmenu-title menu-link level-1{% if child_link.links.size > 0 %} menu-parent{% endif %} relative">
          <a
            data-menu-level2
            class="menu_item-link mb-10 site-nav level-2 {% if child_link.links.size > 0 %}open-children{% endif %}"
            href="{{ child_link.url }}"
          >
            <span>{{ child_link.title }}</span>
          </a>
          {% if child_link.links.size > 0 %}
            <ul class="subchildmenu sub-column pl-0 list-none">
              <li class="fw-600 submenu-mobile-title justify-content-between">
                <a role="link" class="back-main-menu-lv1 pointer">
                  <i class="lnr lnr-chevron-left"></i>
                  {{ child_link.title }}
                </a>
                <i class="icon-x close-menu pointer"></i>
              </li>
              <li>
                <ul class="pl-0 list-none">
                  {% for grandchild_link in child_link.links %}
                    <li class="menu-link level-2">
                      <a
                        class="menu_item-link py-5"
                        href="{{ grandchild_link.url }}"
                        aria-label="{{ grandchild_link.title }}"
                      >
                        <span>{{- grandchild_link.title -}}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {%- for childlink in link.links -%}
      <li class="level-2 relative">
        <a href="{{ childlink.url }}" class="site-nav level-2">
          <span>{{ childlink.title }}</span>
          {%- if childlink.links != blank -%}
            <i class="absolute position-center-y right-15 ad lnr lnr-chevron-right fs-14" aria-hidden="true"></i>
          {%- endif -%}
        </a>
        {%- if childlink.links != blank -%}
          {%- assign menu_title = childlink.title -%}
          <div class="open-children-toggle"></div>
          <ul class="subchildmenu subLinks p-0 list-none my-0  absolute top-0 gradient">
            <li class="fw-600 submenu-mobile-title justify-content-between">
              <a role="link" class="back-main-menu-lv3 pointer">
                <i class="lnr lnr-chevron-left"></i>
                {{ menu_title }}
              </a>
              <i class="icon-x close-menu pointer"></i>
            </li>
            {%- for lvl3link in childlink.links -%}
              <li class="relative level-3 menu-item">
                <a href="{{ lvl3link.url }}" class="site-nav level-3">
                  <span>{{ lvl3link.title }}</span>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
  {% endif %}
{% endif %}
