{% liquid
  assign th_st = settings
  assign container = th_st.general_layout
  assign custom_container = th_st.custom_width_bd
  assign container_width = ''
  if container == 'default'
    assign container_width = '1260'
  elsif container == custom_container
    assign container_width = custom_container
  endif

  assign st = section.settings
  assign container = st.container
  assign text_align_title = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign text_align = st.text_align
  assign heading_border = st.heading_border
  assign column_gap = st.column_gap
  assign color_scheme = st.color_scheme
  assign reset_color_mb = st.reset_color_mb
  assign h_font_size = st.h_font_size
  assign h_font_weight = st.h_font_weight
  assign h_spacing = st.h_spacing
  assign sub_font_size = st.sub_font_size
  assign sub_font_weight = st.sub_font_weight
  assign sub_spacing = st.sub_spacing
  assign des_font_size = st.des_font_size
  assign des_font_weight = st.des_font_weight
  assign button_font_size = st.button_font_size
  assign button_font_weight = st.button_font_weight
  assign des_spacing = st.des_spacing

  assign hover_effect = st.hover_effect
  assign enabled_animations = settings.animations_enabled
  assign design_content = 'default'
  assign column_gap_tablet = ''
  if column_gap > 30
    assign column_gap_tablet = ' gap-tablet'
  endif
  assign column_gap_mobile = ''
  if column_gap > 15
    assign column_gap_mobile = ' gap-mobile'
  endif

  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif

  assign design_banner_position = ''
  if st.design_banner == 'text-overlay-image'
    assign design_banner_position = 'h-full'
  else
    assign design_banner_position = 'flex'
  endif

  assign design_banner_content = ''
  if st.design_banner == 'text-overlay-image' and design_content == 'default'
    assign design_banner_content = 'content-overlay-image absolute inset-0 p-30 pl-40 pr-40'
  endif

  assign text_position = ''
  if st.text_position == 'top'
    assign text_position = ' justify-content-start'
  elsif st.text_position == 'center'
    assign text_position = ' justify-content-center'
  elsif st.text_position == 'bottom'
    assign text_position = ' justify-content-end'
  endif

  if text_align == 'text-left'
    assign banner_position = 'mr-auto'
  elsif text_align == 'text-center'
    assign banner_position = 'mx-auto'
  elsif text_align == 'text-right'
    assign banner_position = 'ml-auto'
  endif

  assign show_box_background = st.show_box_background
  assign color_background = st.color_background
%}
{%- capture style -%}
  --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px; --bls-gutter-x: 
  {{ column_gap }}px;
{%- endcapture -%}

<section
  class="bls__section {{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }}{{ column_gap_tablet }}{{ column_gap_mobile }} {{ reset_spacing }} color-{{ color_scheme }} gradient {% if st.content_on_mobile %} {% if reset_color_mb %} reset-color-on-mb color-default-color-scheme {% endif %} {% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ container }} section-full">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align_title }} {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5 {% if heading_border %}heading-border{% endif %}">{{ heading }}</h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class="row {% if section.settings.layout_on_mobile %}horizontal_scroll{% endif %} {{ column_gap_tablet }} {{ column_gap_mobile }}"
      style="--bs-gutter-x: {{ column_gap }}px;"
    >
      {%- for block in section.blocks -%}
        {% liquid
          assign bl_st = block.settings
          assign image_mobile = bl_st.image_mobile
          assign video_url = bl_st.video_url

          assign video_id = ''
          if video_url.type == 'youtube'
            assign video_id = video_url | replace: 'https://www.youtube.com/watch?v=', ''
          elsif video_url.type == 'vimeo'
            assign video_id = video_url | replace: 'https://vimeo.com/', ''
          endif
          assign video_local = bl_st.video_local

          assign class_animation = ''
          if enabled_animations
            assign class_animation = 'scroll-trigger animate--slide-in'
          endif

          assign content_banner_horizontal = bl_st.content_banner_horizontal
          if content_banner_horizontal == 'Bottom'
            assign content_banner_horizontal = 'flex-column'
            assign spacing-content = 'mt-30'
          else
            assign spacing-content = 'mt-30'
            assign content_banner_horizontal = 'flex-column-reverse'
          endif
        %}
        <div
          {{ block.shopify_attributes }}
          class="{% if st.design_banner == 'text-overlay-image' %}overlay-image col-lg-{{ block.settings.banner_width }} {% else %} {% if section.settings.layout_on_mobile %}col-lg-{{ block.settings.banner_width }}{% else %}col-md-{{ block.settings.banner_width }}  {% endif %} {% endif %} bls__banner-item"
        >
          <div class="bls__banner-inner banner_image relative overflow-hidden {{ content_banner_horizontal }} {{ design_banner_position }} {% if st.design_banner == 'text-overlay-image' %}{% if st.content_on_mobile %}content-on-mobile{% endif %}{% endif %}">
            <div
              class="{% if enabled_animations %}scroll-trigger animate--slide-in{% endif %} bls__banner-media h-full overflow-hidden {% if section.blocks.size > 1 %}block-min-two{% endif %}{% if settings.image_style != blank and section.settings.container != "full-width" and section.settings.column_gap != 0 %} radius {% endif %}"
              {% if enabled_animations %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {%- case bl_st.banner_type -%}
                {%- when 'video' -%}
                  {%- if video_local == blank -%}
                    <div class="video-container h-full">
                      <div class="video-foreground">
                        {%- if video_url.type == 'youtube' -%}
                          <video-youtube data-id="{{ block.id }}">
                            <iframe
                              src="https://www.youtube.com/embed/{{ video_id }}?controls=0&autoplay=1&mute=1&playsinline=1&loop=1&playlist={{ video_id }}"
                            ></iframe>
                          </video-youtube>
                        {%- elsif video_url.type == 'vimeo' -%}
                          <iframe
                            src="https://player.vimeo.com/video/{{ video_id }}?controls=0background=1&autoplay=1&muted=1&loop=1"
                            frameborder="0"
                            allowfullscreen
                          ></iframe>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- else -%}
                    {{ video_local | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}
                  {%- endif -%}
                {%- else -%}
                  <a
                    {{ block.shopify_attributes }}
                    aria-label="Link detail"
                    class="h-full hover-{{ hover_effect }} hover-effect"
                    {% if bl_st.link == blank %}
                      role="link"
                      aria-disabled="true"
                    {% else %}
                      href="{{ bl_st.link }}"
                    {% endif %}
                    {%- if bl_st.open_link == '_blank' -%}
                      target="_blank"
                    {%- else -%}
                      target="_self"
                    {%- endif -%}
                  >
                    {%- if bl_st.image != blank -%}
                      <div
                        class="{% if image_mobile != blank -%}ratio-mobile{% endif %}{% if st.design_banner == 'text-overlay-image' %}{% if st.image_behavior != 'none' %} animate--{{ st.image_behavior }}{% endif %}{% endif %} bls-loading-image h-full bls__responsive-image bls-image-js"
                        style="--point:{{ bl_st.image.presentation.focal_point }}; --aspect-ratio: {{ bl_st.image.aspect_ratio }};{% if image_mobile != blank -%}--aspect-ratio-mb: {{ image_mobile.aspect_ratio }}{% endif %}"
                      >
                        <picture>
                          {% if image_mobile != blank -%}
                            <source
                              srcset="
                                {%- if bl_st.image_mobile.width >= 165 -%}{{ bl_st.image_mobile | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if bl_st.image_mobile.width >= 360 -%}{{ bl_st.image_mobile | image_url: width: 360 }} 360w,{%- endif -%}
                                {%- if bl_st.image_mobile.width >= 533 -%}{{ bl_st.image_mobile | image_url: width: 533 }} 533w,{%- endif -%}
                                {%- if bl_st.image_mobile.width >= 720 -%}{{ bl_st.image_mobile | image_url: width: 720 }} 720w,{%- endif -%}
                                {%- if bl_st.image_mobile.width >= 940 -%}{{ bl_st.image_mobile | image_url: width: 940 }} 940w,{%- endif -%}
                                {%- if bl_st.image_mobile.width >= 1066 -%}{{ bl_st.image_mobile | image_url: width: 1066 }} 1066w,{%- endif -%}
                                {{ bl_st.image_mobile | image_url }} {{ bl_st.image_mobile.width }}w
                              "
                              sizes="(min-width: {{ container_width }}px) 100vw, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                              media="(max-width: 767px)"
                              class="motion-reduce"
                              loading="lazy"
                              alt="{{ bl_st.image_mobile.alt | escape }}"
                              width="{{ bl_st.image_mobile.width }}"
                              height="{{ bl_st.image_mobile.height }}"
                              style="--point:{{ bl_st.image_mobile.presentation.focal_point }}"
                              {% if forloop.index == 1 %}
                                fetchpriority="high"
                              {% endif %}
                            >
                          {% endif %}
                          <img
                            srcset="
                              {%- if bl_st.image.width >= 165 -%}{{ bl_st.image | image_url: width: 165 }} 165w,{%- endif -%}
                              {%- if bl_st.image.width >= 360 -%}{{ bl_st.image | image_url: width: 360 }} 360w,{%- endif -%}
                              {%- if bl_st.image.width >= 533 -%}{{ bl_st.image | image_url: width: 533 }} 533w,{%- endif -%}
                              {%- if bl_st.image.width >= 720 -%}{{ bl_st.image | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if bl_st.image.width >= 940 -%}{{ bl_st.image | image_url: width: 940 }} 940w,{%- endif -%}
                              {%- if bl_st.image.width >= 1066 -%}{{ bl_st.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                              {{ bl_st.image | image_url }} {{ bl_st.image.width }}w
                            "
                            src="{{ bl_st.image | image_url: width: bl_st.image.width }}"
                            sizes="(min-width: {{ container_width }}px) 100vw, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                            alt="{{ bl_st.image.alt | escape }}"
                            class="motion-reduce"
                            loading="lazy"
                            width="{{ bl_st.image.width }}"
                            height="{{ bl_st.image.height }}"
                            style="--point:{{ bl_st.image.presentation.focal_point }}"
                          >
                        </picture>
                      </div>

                    {%- else -%}
                      {%- render 'responsive-image' | cls: "h-full" -%}
                    {%- endif -%}
                  </a>
              {%- endcase -%}
            </div>
            <div class="bls__banner-content {% if st.design_banner == 'text-below-image' %}content-below-image {{ spacing-content }}{% endif %} {{ design_content }} {% if st.design_banner == 'text-overlay-image' %}pointer-events-none{% endif %} {% if st.content_on_mobile == true %}pointer-events-mobile{% endif %} flex flex-column z-1 {{ text_align }}{{ text_position }} {{ design_banner_content }} {% if st.design_banner == 'text-overlay-image' and design_content == 'default' %} {% if st.text_position == 'bottom' %}pb-80{%  elsif st.text_position == 'top' %}pt-80{% endif %}{% endif %}">
              <div
                style="--color-background: rgba({{ color_background.rgba }})"
                class=" {% if st.design_banner == 'text-overlay-image' and show_box_background == true %} p-30 text_background {{ banner_position }} {% endif %}  "
              >
                {%- if bl_st.banner_image_logo != blank -%}
                  <div class="bls__banner-logo mb-35">
                    <img
                      srcset="
                        {%- if bl_st.banner_image_logo.width >= 165 -%}{{ bl_st.banner_image_logo | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if bl_st.banner_image_logowidth >= 360 -%}{{ bl_st.banner_image_logo | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if bl_st.banner_image_logowidth >= 533 -%}{{ bl_st.banner_image_logo | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if bl_st.banner_image_logowidth >= 720 -%}{{ bl_st.banner_image_logo | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if bl_st.banner_image_logowidth >= 940 -%}{{ bl_st.banner_image_logo | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if bl_st.banner_image_logowidth >= 1066 -%}{{ bl_st.banner_image_logo | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ bl_st.banner_image_logo | image_url }} {{ bl_st.banner_image_logowidth }}w
                      "
                      src="{{ bl_st.banner_image_logo | image_url: width: 533 }}"
                      alt="{{ bl_st.banner_image_logoalt | escape }}"
                      class="motion-reduce"
                      loading="lazy"
                      width="{{ bl_st.banner_image_logo.width }}"
                      height="{{ bl_st.banner_image_logo.height }}"
                      style="--point:{{ bl_st.banner_image_logo.presentation.focal_point }}"
                    >
                  </div>
                {%- endif -%}
                {%- if bl_st.subtext != blank -%}
                  <p
                    class="{{ class_animation }} bls__banner-subtext heading-color {% if sub_spacing > 30 %}spacing-big{% endif %}"
                    style=" {% if enabled_animations %} --animation-order: {{ forloop.index }};{% endif %} {% if st.sub_font_weight != 'default' %}--sub-font-weight: {{ sub_font_weight }};{% endif %}--sub-font-size: {{ sub_font_size }}px;--sub-spacing: {{ sub_spacing }}px;"
                  >
                    {{ bl_st.subtext }}
                  </p>
                {%- endif -%}
                {%- if bl_st.title != blank -%}
                  <div
                    class="h3 {{ class_animation }} bls__banner-heading {% if h_font_size > 30 %}size-big{% endif %} {% if h_spacing > 30 %}spacing-big{% endif %}"
                    style=" {% if enabled_animations %} --animation-order: {{ forloop.index }};{% endif %}{% if st.h_font_weight != 'default' %} --custom-heading-font-weight: {{ h_font_weight }};{% endif %}--heading-font-size: {{ h_font_size }}px;--heading-spacing: {{ h_spacing }}px;"
                  >
                    {% if st.design_banner == 'text-below-image' and bl_st.btn_content == blank %}
                      <a
                        {% if bl_st.link == blank %}
                          role="link"
                          aria-disabled="true"
                        {% else %}
                          href="{{ bl_st.link }}"
                        {% endif %}
                        {%- if bl_st.open_link == '_blank' -%}
                          target="_blank"
                        {%- else -%}
                          target="_self"
                        {%- endif -%}
                      >
                    {% endif %}
                    {{ bl_st.title }}
                    {% if st.design_banner == 'text-below-image' and bl_st.btn_content == blank %}
                      </a>
                    {% endif %}
                  </div>
                {%- endif -%}
                {%- if bl_st.content != blank -%}
                  <div
                    class="bls__banner-text {{ class_animation }} {% if des_spacing > 30 %}spacing-big{% endif %}"
                    style=" {% if enabled_animations %} --animation-order: {{ forloop.index }};{% endif %}{% if st.des_font_weight != 'default' %} --desc-font-weight: {{ des_font_weight }};{% endif %}--desc-font-size: {{ des_font_size }}px;--desc-spacing: {{ des_spacing }}px;"
                  >
                    {{ bl_st.content }}
                  </div>
                {%- endif -%}
                {%- if bl_st.btn_content != blank -%}
                  <div
                    class="bls__banner-button {{ class_animation }} {% if st.design_banner == 'text-overlay-image' %} pt-10 {% endif %} "
                    {% if enabled_animations %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    <a
                      {% if bl_st.link == blank %}
                        role="link"
                        aria-disabled="true"
                      {% else %}
                        href="{{ bl_st.link }}"
                      {% endif %}
                      {%- if bl_st.open_link == '_blank' -%}
                        target="_blank"
                      {%- else -%}
                        target="_self"
                      {%- endif -%}
                      class="bls__banner-btn whitespace-nowrap btn-{{ bl_st.button_type }} "
                      style=" {% if st.button_font_weight != 'default' %} --button-font-weight: {{ button_font_weight }};{% endif %}--button-font-size: {{ button_font_size }}px;"
                    >
                      {{ bl_st.btn_content | escape }}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.banner-image.name",
  "class": "bls__banner-image",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_header.title_header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.section_header.heading"
    },
    {
      "type": "checkbox",
      "id": "heading_border",
      "label": "t:sections.all.content_text.heading_border",
      "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.section_header.description",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.horizontal_alignment.text_alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.horizontal_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.horizontal_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.all.horizontal_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.header.general"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },
        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "show_box_background",
      "label": "t:sections.banner-image.settings.show_box_background.label",
      "info": "t:sections.banner-image.settings.show_box_background.infor",
      "default": false
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.banner-with-text.settings.content_bg_color.label"
    },
    {
      "type": "range",
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 5,
      "default": 30,
      "label": "t:sections.all.padding.column_gap",
      "id": "column_gap"
    },
    {
      "type": "header",
      "content": "t:sections.banner-image.settings.header.mobile_setting"
    },
    {
      "type": "checkbox",
      "id": "layout_on_mobile",
      "label": "t:sections.banner-image.settings.layout_on_mobile.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.header.content_setting"
    },
    {
      "type": "select",
      "id": "design_banner",
      "label": "t:sections.all.design_image.label",
      "options": [
        {
          "value": "text-overlay-image",
          "label": "t:sections.all.design_image.options__1.label"
        },
        {
          "value": "text-below-image",
          "label": "t:sections.all.design_image.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "t:sections.all.horizontal_alignment.alignment",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.horizontal_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.horizontal_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.all.horizontal_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "hover_effect",
      "label": "t:sections.all.hover_effect.label",
      "default": "zoom",
      "options": [
        {
          "value": "zoom",
          "label": "t:sections.all.hover_effect.options__1.label"
        },
        {
          "value": "fade-in",
          "label": "t:sections.all.hover_effect.options__5.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.hover_effect.options__4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.typography.title_typography"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.typography.paragraph_heading"
    },
    {
      "type": "range",
      "id": "h_font_size",
      "min": 12,
      "max": 90,
      "step": 1,
      "label": "t:sections.all.typography.default_size",
      "unit": "px",
      "default": 36
    },
    {
      "type": "select",
      "id": "h_font_weight",
      "label": "t:sections.all.typography.default_weight",
      "default": "default",
      "options": [
        {
          "label": "t:sections.all.default_text.label",
          "value": "default"
        },
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        },
        {
          "label": "700",
          "value": "700"
        },
        {
          "label": "800",
          "value": "800"
        },
        {
          "label": "900",
          "value": "900"
        }
      ]
    },
    {
      "type": "range",
      "id": "h_spacing",
      "min": 0,
      "max": 60,
      "step": 1,
      "label": "t:sections.all.typography.spacing",
      "unit": "px",
      "default": 10
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.typography.paragraph_subheading"
    },
    {
      "type": "range",
      "id": "sub_font_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "label": "t:sections.all.typography.default_size",
      "unit": "px",
      "default": 18
    },
    {
      "type": "select",
      "id": "sub_font_weight",
      "label": "t:sections.all.typography.default_weight",
      "default": "default",
      "options": [
        {
          "label": "t:sections.all.default_text.label",
          "value": "default"
        },
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        },
        {
          "label": "700",
          "value": "700"
        },
        {
          "label": "800",
          "value": "800"
        },
        {
          "label": "900",
          "value": "900"
        }
      ]
    },
    {
      "type": "range",
      "id": "sub_spacing",
      "min": 0,
      "max": 60,
      "step": 1,
      "label": "t:sections.all.typography.spacing",
      "unit": "px",
      "default": 10
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.typography.paragraph_description"
    },
    {
      "type": "range",
      "id": "des_font_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "label": "t:sections.all.typography.default_size",
      "unit": "px",
      "default": 16
    },
    {
      "type": "select",
      "id": "des_font_weight",
      "label": "t:sections.all.typography.default_weight",
      "default": "default",
      "options": [
        {
          "label": "t:sections.all.default_text.label",
          "value": "default"
        },
        {
          "label": "300",
          "value": "300"
        },
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        }
      ]
    },
    {
      "type": "range",
      "id": "des_spacing",
      "min": 0,
      "max": 60,
      "step": 1,
      "label": "t:sections.all.typography.spacing",
      "unit": "px",
      "default": 30
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.typography.paragraph_button"
    },
    {
      "type": "range",
      "id": "button_font_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "label": "t:sections.all.typography.default_size",
      "unit": "px",
      "default": 16
    },
    {
      "type": "select",
      "id": "button_font_weight",
      "label": "t:sections.all.typography.default_weight",
      "default": "default",
      "options": [
        {
          "label": "t:sections.all.default_text.label",
          "value": "default"
        },
        {
          "label": "300",
          "value": "300"
        },
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        },
        {
          "label": "700",
          "value": "700"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.banner-image.settings.header.overlay_setting"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.image_behavior.options__4.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.image_behavior.options__3.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.image_behavior.label"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "t:sections.all.vertical_alignment.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.vertical_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.vertical_alignment.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.vertical_alignment.options__3.label"
        }
      ],
      "info": "t:sections.banner-image.settings.overlay_info.info"
    },
    {
      "type": "checkbox",
      "id": "content_on_mobile",
      "label": "t:sections.all.below_mobile.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "reset_color_mb",
      "label": "t:sections.all.reset_color_mb.label",
      "info": "t:sections.banner-image.settings.reset_info.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.reset_spacing.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "image_banner",
      "name": "t:sections.banner-image.blocks.image_banner.name",
      "limit": 4,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.all.header.general"
        },
        {
          "type": "select",
          "id": "banner_width",
          "label": "t:sections.all.width_column.label",
          "default": "6",
          "options": [
            {
              "value": "3",
              "label": "25%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "6",
              "label": "50%"
            },
            {
              "value": "8",
              "label": "66%"
            },
            {
              "value": "9",
              "label": "75%"
            },
            {
              "value": "12",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "banner_type",
          "label": "t:sections.all.type_banner.label",
          "default": "image",
          "options": [
            {
              "value": "image",
              "label": "t:sections.all.type_banner.type_image"
            },
            {
              "value": "video",
              "label": "t:sections.all.type_banner.type_video"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.upload_image.image_dk",
          "info": "t:sections.banner-image.blocks.image_banner.settings.image_dk.info"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.all.upload_image.image_mobile",
          "info": "t:sections.banner-image.blocks.image_banner.settings.image_mobile.info"
        },
        {
          "id": "video_url",
          "type": "video_url",
          "label": "t:sections.all.video.url_video",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "id": "video_local",
          "type": "video",
          "label": "t:sections.all.video.video_local",
          "info": "t:sections.all.video.local_text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.all.content_text.banner_link"
        },
        {
          "type": "select",
          "id": "open_link",
          "options": [
            {
              "value": "_self",
              "label": "t:sections.all.content_text.open_link.self.label"
            },
            {
              "value": "_blank",
              "label": "t:sections.all.content_text.open_link.blank.label"
            }
          ],
          "label": "t:sections.all.content_text.open_link.label",
          "default": "_blank"
        },
        {
          "type": "header",
          "content": "t:sections.all.header.content"
        },
        {
          "type": "select",
          "id": "content_banner_horizontal",
          "label": "t:sections.products-grid.settings.content_banner_horizontal.label",
          "options": [
            {
              "value": "Top",
              "label": "t:sections.products-grid.settings.content_banner_horizontal.options__1.label"
            },
            {
              "value": "Bottom",
              "label": "t:sections.products-grid.settings.content_banner_horizontal.options__2.label"
            }
          ],
          "default": "Bottom",
          "info": "t:sections.products-grid.settings.content_banner_horizontal.info"
        },
        {
          "type": "image_picker",
          "id": "banner_image_logo",
          "label": "t:sections.all.content_text.logo"
        },
        {
          "type": "textarea",
          "id": "subtext",
          "label": "t:sections.all.content_text.subheading",
          "default": "Subtext"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.all.content_text.heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.all.content_text.description",
          "default": "<p>Description</p>"
        },
        {
          "type": "text",
          "id": "btn_content",
          "label": "t:sections.all.content_text.button_text",
          "default": "Shop now"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "t:sections.all.content_text.button_type.label",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.content_text.button_type.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.content_text.button_type.options__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.content_text.button_type.options__3.label"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.banner-image.name",
      "blocks": [
        {
          "type": "image_banner"
        },
        {
          "type": "image_banner"
        }
      ]
    }
  ]
}
{% endschema %}
