{{ 'collections-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'collections-item.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign container = st.container
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign color_scheme = st.color_scheme
  assign design_collection = st.design_collection
  assign custom_column = st.custom_column
  assign design_layout = st.design_layout
  assign item_desktop = st.custom_column
  assign loop = st.loop
  assign autoplay = st.autoplay
  assign carousel_pagination = st.carousel_pagination
  assign show_arrow = st.show_arrow
  assign column_gap = st.column_gap
  assign image_width = st.image_width
  assign enabled_animations = settings.animations_enabled
  assign custom_width_images = st.custom_width_images
  assign images_style = st.images_style
  assign heading_border = st.heading_border
  assign categories_item = ''
  assign column_gap_tablet = ''
  if column_gap > 30
    assign column_gap_tablet = ' gap-tablet'
  endif
  assign column_gap_mobile = ''
  if column_gap > 15
    assign column_gap_mobile = ' gap-mobile'
  endif
  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
  assign responsive_column = ''
  if custom_column == 1
    assign responsive_column = 'col-12'
  elsif custom_column == 2
    assign responsive_column = 'col-sm-6'
  else
    assign responsive_column = 'col-sm-6'
  endif
-%}
{%- capture style -%}
    --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px; --bls-gutter-x:
    {{ column_gap }}px;
  {%- endcapture -%}

<section
  class="color-{{ color_scheme }} gradient bls__section{{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }} bls__collection-list-menu {{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
  id="{{ section.id }}"
  data-id="{{ section.id }}"
  data-type="bls_swiper"
>
  <div class="{{ container }} section-full">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align }} {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5 {% if  heading_border == true %} heading-border {% endif %} ">
            {{ heading }}
          </h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class="bls__collection-menu-content {{ design_collection }}{{ categories_item }} {{ images_style }} {% if custom_width_images %} custom-width-images {% endif %}"
    >
      {%- if design_layout == 'carousel' -%}
        <div
          class="swiper bls__swiper hover__show-nav"
          id="bls__swiper-{{ section.id }}"
          data-section-id="{{ section.id }}"
          data-autoplay="{{ autoplay }}"
          data-loop="{{ loop }}"
          data-mobile="1"
          data-tablet="2"
          data-desktop="{{ item_desktop }}"
          data-spacing="{{ column_gap }}"
          data-pagination-progressbar="{% if carousel_pagination == 'carousel_pagination_progress' %}true{% else %}false{% endif %}"
        >
          <div class="swiper-wrapper" style="--perload-gap: {{ column_gap }}px">
            {%- for block in section.blocks -%}
              <div
                {{ block.shopify_attributes }}
                class="swiper-slide bls__collection-menu-items"
              >
                {%- assign linkl = linklists[block.settings.collection_menu].links -%}
                <div class="d-flex">
                  <div
                    class="image mr-10 {% if settings.image_style != blank and section.settings.container != "full-width" and section.settings.column_gap != 0 %} radius {% endif %}"
                    style="width: {{ image_width }}px;"
                  >
                    {% if block.settings.image != blank %}
                      <div
                        class="bls__collection-menu-image"
                      >
                        {%- render 'responsive-image', image: block.settings.image -%}
                      </div>
                    {% else %}
                      <div
                        class="bls__collection-menu-image w-full"
                      >
                        {%- render 'placeholder-render' | type: 'image' -%}
                      </div>
                    {% endif %}
                  </div>
                  <div class="bls__collection-menu-content flex-1 overflow-hidden">
                    {% if linkl != blank %}
                      <div class="h4 bls__collection-menu-title mb-10">
                        {% if block.settings.title_collection != blank %}
                          {{ block.settings.title_collection }}
                        {% else %}
                          {{ linklists[block.settings.collection_menu].title }}
                        {% endif %}
                      </div>
                      <ul class="bls__collection-menu-list p-0 list-none my-0">
                        {% for link in linkl %}
                          <li>
                            <a href="{{ link.url }}">
                              {{ link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <div class="h4 bls__collection-menu-title mb-10">
                        {{ 'collection.section_collection_menu.title' | t }}
                      </div>
                      <ul class="bls__collection-menu-list p-0 list-none my-0 ">
                        {% for link in (1..4) %}
                          <li>
                            {{ 'collection.section_collection_menu.menu' | t }}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    <a
                      {% if block.settings.btn_link == blank %}
                        role="link"
                        aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.btn_link }}"
                      {% endif %}
                      {%- if block.settings.open_link == '_blank' -%}
                        target="_blank"
                      {%- else -%}
                        target="_self"
                      {%- endif -%}
                      class="bls__collection-menu-btn whitespace-nowrap"
                    >
                      {{ block.settings.btn_content | escape }}
                      <i class="ml-5 icon-chevrons-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
          {% render 'swiper-control', show_arrow: show_arrow, carousel_pagination: carousel_pagination %}
        </div>
      {%- else -%}
        <div class="bls__collection-menu-grid">
          <div
            class="row row-cols-lg-{{ custom_column }}{{ column_gap_tablet }}{{ column_gap_mobile }}"
            style="--bs-gutter-x: {{ column_gap }}px"
          >
            {%- for block in section.blocks -%}
              <div
                {{ block.shopify_attributes }}
                class="{{ responsive_column }} {% if item_desktop > 2 %}col-12{% else %}col-12 {% endif %} bls__collection-menu-items"
              >
                {%- assign linkl = linklists[block.settings.collection_menu].links -%}
                {%- assign linkl = linklists[block.settings.collection_menu].links -%}
                <div class="d-flex">
                  <div class="image mr-10" style="width: {{ image_width }}px;">
                    {% if block.settings.image != blank %}
                      <div
                        class="bls__collection-menu-image"
                      >
                        {%- render 'responsive-image', image: block.settings.image -%}
                      </div>
                    {% else %}
                      <div
                        class="bls__collection-menu-image w-full"
                      >
                        {%- render 'placeholder-render' | type: 'image' -%}
                      </div>
                    {% endif %}
                  </div>
                  <div class="bls__collection-menu-content flex-1 overflow-hidden">
                    {% if linkl != blank %}
                      <div class="h4 bls__collection-menu-title mb-10">
                        {% if block.settings.title_collection != blank %}
                          {{ block.settings.title_collection }}
                        {% else %}
                          {{ linklists[block.settings.collection_menu].title }}
                        {% endif %}
                      </div>
                      <ul class="bls__collection-menu-list p-0 list-none my-0">
                        {% for link in linkl %}
                          <li>
                            <a href="{{ link.url }}">
                              {{ link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <div class="h4 bls__collection-menu-title mb-10">
                        {{ 'collection.section_collection_menu.title' | t }}
                      </div>
                      <ul class="bls__collection-menu-list p-0 list-none my-0">
                        {% for link in (1..4) %}
                          <li>
                            {{ 'collection.section_collection_menu.menu' | t }}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    <a
                      {% if block.settings.btn_link == blank %}
                        role="link"
                        aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.btn_link }}"
                      {% endif %}
                      {%- if block.settings.open_link == '_blank' -%}
                        target="_blank"
                      {%- else -%}
                        target="_self"
                      {%- endif -%}
                      class="bls__collection-menu-btn whitespace-nowrap"
                    >
                      {{ block.settings.btn_content | escape }}
                      <i class="ml-5 icon-chevrons-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection-list-menus.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_header.title_header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.section_header.heading"
    },
    {
      "type": "checkbox",
      "id": "heading_border",
      "label": "t:sections.all.content_text.heading_border",
      "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.section_header.description",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.horizontal_alignment.text_alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.horizontal_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.horizontal_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.all.horizontal_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.header.general"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },
        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.header.collection_setting"
    },
    {
      "type": "select",
      "id": "design_layout",
      "label": "t:sections.all.design_layout.collection_type",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.all.design_layout.options__1.grid"
        },
        {
          "value": "carousel",
          "label": "t:sections.all.design_layout.options__2.carousel"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "range",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4,
      "label": "t:sections.all.custom_column.per_row",
      "id": "custom_column"
    },
    {
      "type": "range",
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 5,
      "default": 30,
      "label": "t:sections.all.padding.column_gap",
      "id": "column_gap"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "t:sections.all.image_width_px.label",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 120
    },
    {
      "type": "header",
      "content": "t:sections.all.setting_carousel.carousel_title"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.all.setting_carousel.autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "t:sections.all.setting_carousel.loop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "t:sections.all.setting_carousel.show_arrow",
      "default": false
    },
    {
      "type": "select",
      "id": "carousel_pagination",
      "label": "t:sections.all.setting_carousel.carousel_pagination.label",
      "options": [
        {
          "value": "carousel_none",
          "label": "t:sections.all.setting_carousel.carousel_pagination.carousel__none.label"
        },
        {
          "value": "carousel_bullets",
          "label": "t:sections.all.setting_carousel.carousel_pagination.carousel__bullets.label"
        },
        {
          "value": "show_bullet_mobile",
          "label": "t:sections.all.setting_carousel.carousel_pagination.bullet__mobile.label"
        },
        {
          "value": "carousel_pagination_progress",
          "label": "t:sections.all.setting_carousel.carousel_pagination.carousel__progress.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.reset_spacing.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "t:sections.collection-list-menus.blocks.collection_item.name",
      "settings": [
        {
          "type": "text",
          "id": "title_collection",
          "label": "t:sections.all.collection_item.title_collection"
        },
        {
          "type": "link_list",
          "id": "collection_menu",
          "label": "t:sections.all.collection_item.select_collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.collection_item.image_collection"
        },
        {
          "type": "text",
          "id": "btn_content",
          "label": "t:sections.all.content_text.button_text",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.all.content_text.button_link"
        },
        {
          "type": "select",
          "id": "open_link",
          "options": [
            {
              "value": "_self",
              "label": "t:sections.all.content_text.open_link.self.label"
            },
            {
              "value": "_blank",
              "label": "t:sections.all.content_text.open_link.blank.label"
            }
          ],
          "label": "t:sections.all.content_text.open_link.label",
          "default": "_blank"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list-menus.name",
      "blocks": [
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        }
      ]
    }
  ]
}
{% endschema %}
