{%- liquid
  assign st = section.settings
  assign container = st.container
  assign padding_top = st.padding_top
  assign padding_bottom = st.padding_bottom
  assign border_height = st.border_height
  assign border_color = st.border_color

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif

  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif
-%}
{%- capture style -%}
  --section-padding-top: {{ padding_top }}px; --section-padding-bottom: {{ padding_bottom }}px;
{%- endcapture -%}
<section
  class="bls__section {{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }}bls__divider {{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ container }} section-full">
    <div
      class="bls__divider-inner"
      style="--border-height: {{ border_height }}px; --border-color: {{ border_color }}"
    ></div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.divider.name",
  "disabled_on": {
    "groups": [
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header.general"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },
        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "border_height",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 1,
      "label": "t:sections.divider.settings.height.label"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "t:sections.all.colors.text_color",
      "default": "#ebebeb"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.reset_spacing.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.divider.name"
    }
  ]
}
{% endschema %}
