{%- liquid
  assign st = section.settings
  assign mailchimp = st.newsletter_mailchimp
  assign width = st.newsletter_width
  assign heading = st.newsletter_title
  assign sub_title = st.newsletter_sub_title
  assign show_newsletter = section.settings.show_newsletter
  assign disable_mobile = st.disable_mobile
  assign popup_image = st.popup_image
  assign show_on_design = st.show_on_design
  if show_newsletter == 'show_newsletter_homepage'
    if request.page_type == 'index'
      assign show = 'show-on-homepage'
    endif
  else
    assign show = 'show-on-all-pages'
  endif
-%}

<newsletter-popup
  id="bls__newsletter-popup"
  data-show="{{ show }}"
  data-show-mobile="{{ disable_mobile }}"
  data-design-mode="{{ show_on_design }}"
>
  <div class="bls__newsletter-wrapper d-none">
    <div
      class="bls__newsletter-popup gradient {% if popup_image != blank %}bls__newsletter-images{% endif %}"
      style="--newsletter-width: {{ width }}px"
    >
      {% if popup_image != blank %}
        <div class="images-newsletter d-none-tablet">
          {% render 'responsive-image', image: popup_image %}
        </div>
      {% endif %}

      <div class="content-newsletter">
        <div class="bls__section-header text-center mb-30">
          {%- if heading != blank -%}
            <h2 class="bls__section-heading mb-5">{{ heading }}</h2>
          {%- endif -%}
          {%- if sub_title != blank -%}
            <div class="bls__section-des mb-30">
              {{ sub_title }}
            </div>
          {%- endif -%}
        </div>
        {%- if mailchimp != blank -%}
          <form
            method="post"
            action="{{ mailchimp }}"
            class="newsletter-form-popup"
            autocomplete="on"
          >
            <div class="signup-newsletter-form d-flex flex-column">
              <input
                type="email"
                name="EMAIL"
                placeholder="{{ 'newsletter.placeholder' | t }}"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                class="input-text btn-radius"
                required="required"
              >
              <button type="submit" class="btn btn-theme mt-20">{{ 'newsletter.button_label' | t }}</button>
            </div>
          </form>
        {%- else -%}
          {%- form 'customer', class: 'newsletter-form-popup', id: 'newsletter-form-popup' -%}
            <input
              type="hidden"
              name="contact[tags]"
              value="newsletter"
            >
            <div class="signup-newsletter-form d-flex flex-column">
              <input
                type="email"
                name="contact[email]"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                placeholder="{{ 'newsletter.placeholder' | t }}"
                class="input-text btn-radius"
                required="required"
              >
              <button
                type="submit"
                name="commit"
                class="btn btn-theme mt-20"
              >
                {{ 'newsletter.button_label' | t }}
              </button>
            </div>
          {%- endform -%}
        {%- endif -%}
        <div class="do-not-show-again checkbox clearfix mt-40 text-center">
          <input
            id="doNotShow"
            name="do-not-show"
            type="checkbox"
            class="doNotShow"
          >
          <label for="doNotShow">{{ 'popup.do_not' | t }}</label>
        </div>
      </div>
    </div>
  </div>
</newsletter-popup>

{% schema %}
{
  "name": "t:settings_schema.newsletter-popup.name",
  "class": "newsletter_popup",
  "limit": 1,
  "tag": "section",
  "enabled_on": {
    "groups": [
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.header_general.label"
    },
    {
      "type": "image_picker",
      "id": "popup_image",
      "label": "t:settings_schema.newsletter-popup.settings.image.label"
    },
    {
      "type": "select",
      "id": "show_newsletter",
      "label": "t:settings_schema.newsletter-popup.settings.show_newsletter.label",
      "default": "show_newsletter_homepage",
      "options": [
        {
          "value": "show_newsletter_homepage",
          "label": "t:settings_schema.newsletter-popup.settings.show_newsletter.show_newsletter_homepage.label"
        },
        {
          "value": "show_newsletter_all_page",
          "label": "t:settings_schema.newsletter-popup.settings.show_newsletter.show_newsletter_all_page.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "newsletter_mailchimp",
      "label": "t:settings_schema.newsletter-popup.settings.newsletter_mailchimp.label",
      "info": "t:settings_schema.newsletter-popup.settings.newsletter_mailchimp.info"
    },
    {
      "type": "range",
      "id": "newsletter_width",
      "label": "t:settings_schema.global.settings.width.label",
      "max": 800,
      "min": 300,
      "step": 10,
      "unit": "px",
      "default": 760
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "t:settings_schema.global.settings.heading.label",
      "default": "Join the our family"
    },
    {
      "type": "richtext",
      "id": "newsletter_sub_title",
      "label": "t:settings_schema.global.settings.short_description.label",
      "default": "<p>Sign up to get all the latest fashion news, website updates, offers and promos.</p>"
    },
    {
      "type": "checkbox",
      "id": "disable_mobile",
      "label": "t:settings_schema.newsletter-popup.settings.disable_mobile.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:settings_schema.newsletter-popup.name"
    }
  ]
}
{% endschema %}
