{{ 'product.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign th_st = settings
  assign product_style = th_st.product_style
  assign st = section.settings
  assign cls = st.collection
  assign container = st.container
  assign color_scheme = st.color_scheme
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign heading_border = st.heading_border
  assign column_gap = st.column_gap
  assign view_all_enable = st.view_all_enable
  assign text_view_all = st.text_view_all
  assign more_row = ''
  assign enable_banner = st.enable_banner
  assign enable_sticky_banner = st.enable_sticky_banner
  assign banner_img = st.banner_img
  assign banner_position = st.banner_position
  assign banner_width = st.banner_width
  assign text_content = st.text_content
  assign video_local = st.video_local
  assign enabled_animations = th_st.animations_enabled
  assign show_banner = ''
  if st.enable_banner
    assign show_banner = ' show-banner'
  endif
  assign show_sticky_banner = ''
  if st.enable_sticky_banner
    assign show_sticky_banner = ' show-sticky-banner'
  endif
  assign banner_url = ''
  if st.banner_link != blank
    assign banner_url = st.banner_link
  else
    assign banner_url = '#'
  endif

  assign banner_position = ''
  if st.banner_position == 'position-right'
    assign banner_position = ' flex-row-reverse'
  endif
  assign video_url = st.video_url
  assign video_id = ''
  if video_url.type == 'youtube'
    assign video_id = video_url | replace: 'https://www.youtube.com/watch?v=', ''
  elsif video_url.type == 'vimeo'
    assign video_id = video_url | replace: 'https://vimeo.com/', ''
  endif
  if column_gap > 30
  endif
  if column_gap > 15
  endif

  if st.number_of_rows > 1
    assign more_row = 'more-row'
  endif

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif

  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif

  assign collection = collections[cls]

  assign heading_banner_fs = st.heading_banner_fs
  assign heading_banner_fw = st.heading_banner_fw
  assign heading_banner_tf = st.heading_banner_tf
  assign heading_banner_mt = st.heading_banner_mt
  assign heading_banner_mb = st.heading_banner_mb
  assign txt_fs = st.txt_fs
  assign txt_fw = st.txt_fw
  assign txt_tf = st.txt_tf
  assign txt_mt = st.txt_mt
  assign txt_mb = st.txt_mb
  assign txt_color = st.txt_color
  assign button_banner_type = st.button_banner_type
  assign b_banner_mt = st.b_banner_mt
  assign b_banner_mb = st.b_banner_mb
  assign content_banner_horizontal = st.content_banner_horizontal
  if content_banner_horizontal == 'Top'
    assign banner_display = 'd-xl-flex flex-column'
  else
    assign banner_display = 'd-xl-flex flex-column-reverse'
  endif
  assign content_banner_style = st.content_banner_style
  assign link = st.link
  assign content_banner_overlay_horizontal = st.content_banner_overlay_horizontal
  if content_banner_overlay_horizontal == 'Top'
    assign content_banner_overlay_horizontal = 'justify-content-start'
  elsif content_banner_overlay_horizontal == 'Middle'
    assign content_banner_overlay_horizontal = 'justify-content-center'
  else
    assign content_banner_overlay_horizontal = 'justify-content-end'
  endif
-%}

{%- capture style -%}
  --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px;
{%- endcapture -%}
<section
  class="color-{{ color_scheme }} gradient bls__section {{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }} bls__product{{ reset_spacing }} {{ more_row }} {% if section.settings.container == "full-width" or section.settings.column_gap == 0 %} not-radius {% endif %}"
  style="{{ style | strip | strip_newlines }}"
  id="{{ section.id }}"
  data-id="{{ section.id }}"
  data-type="product_grid"
>
  <div class=" {{ container }} section-full">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align }} {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %} {% if view_all_enable %}text-view-all{% endif %}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5 {% if heading_border %}heading-border{% endif %}">{{ heading }}</h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des">
            {{ description }}
          </div>
        {%- endif -%}
        {%- if view_all_enable -%}
          {%- if text_view_all != blank -%}
            <div class="links-view-all">
              <a aria-label="Link detail" href="{% if collection == blank %}#{% else %}{{ collection.url }}{% endif %}">
                {{ text_view_all }}
                <i class="lnr lnr-chevron-right fs-13 ml-5"></i>
              </a>
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="bls__grid {{ product_style }}" data-id="{{ section.id }}">
      <div class="row flex-nowrap {{ banner_position }}" style="--product-banner-width: {{ banner_width }}%;">
        {%- if enable_banner -%}
          <div class="bls__product-banner relative d-none {% if content_banner_style == 'Bellow image' %} {{ banner_display }} {% else %} d-xl-block {% endif %} {{ show_sticky_banner }} {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %} ">
            <div
              class="mb-50 {% if enable_sticky_banner != blank %} d-none {% endif %}  {{ st.text_banner_alignment }} {% if content_banner_style != 'Bellow image' %}  absolute inset-0 flex-column d-flex {{ content_banner_overlay_horizontal }} align-items-center overlay_banner {% endif %}"
            >
              <div>
                {% if st.title != blank %}
                  <h2
                    class="bls__banner-text--heading {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}"
                    style="--text-heading-font-size: {{ heading_banner_fs }}px; {% if heading_banner_fw != 'default' %}--text-heading-font-weight: {{ heading_banner_fw }};{% endif %} ; --text-heading-transform: {{ heading_banner_tf }}; margin-top: {{ heading_banner_mt }}px; margin-bottom: {{ heading_banner_mb }}px;"
                  >
                    {{ st.title }}
                  </h2>
                {% endif %}
                {% if st.txt_content != blank %}
                  <div
                    class="bls__banner-text--des {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}"
                    style="--text-font-size: {{ txt_fs }}px;{%- if txt_color != blank -%} --text-color: {{ txt_color }};{%- endif -%} {% if txt_fw != 'default' %}--text-font-weight: {{ txt_fw }};{% endif %} --text-transform: {{ txt_tf }}; margin-top: {{ txt_mt }}px; margin-bottom: {{ txt_mb }}px;"
                  >
                    {{ st.txt_content }}
                  </div>
                {% endif %}
                {%- if st.btn_banner_content != blank -%}
                  <a
                    {% if st.button_banner_link == blank %}
                      role="link"
                      aria-disabled="true"
                      href="{{ link }}"
                    {% else %}
                      href="{{ st.button_banner_link }}"
                    {% endif %}
                    {% if st.button_banner_target == true %}
                      target="_blank"
                    {% else %}
                      target="_self"
                    {% endif %}
                    class="{% if enabled_animations %}scroll-trigger animate--slide-in{% endif %} bls__banner-text--button whitespace-nowrap btn-{{ button_banner_type }} inline-block"
                    style=" --b-mt: {{ b_banner_mt }}px; --b-mb: {{ b_banner_mb }}px;"
                  >
                    {{ st.btn_banner_content | escape }}
                  </a>
                {%- endif -%}
              </div>
            </div>
            {%- case st.banner_type -%}
              {%- when 'video' -%}
                {%- if video_local == blank -%}
                  <div class="video-container h-full">
                    <div class="video-foreground">
                      {%- if video_url.type == 'youtube' -%}
                        <video-youtube>
                          <iframe
                            src="https://www.youtube.com/embed/{{ video_id }}?controls=0&autoplay=1&mute=1&playsinline=1&loop=1&playlist={{ video_id }}"
                          ></iframe>
                        </video-youtube>
                      {%- elsif video_url.type == 'vimeo' -%}
                        <iframe
                          src="https://player.vimeo.com/video/{{ video_id }}?controls=0background=1&autoplay=1&muted=1&loop=1"
                          frameborder="0"
                          allowfullscreen
                        ></iframe>
                      {%- endif -%}
                    </div>
                  </div>
                {%- else -%}
                  {%- if enable_sticky_banner == blank -%}
                    <div class="local-video h-full">
                  {%- endif -%}
                  {{ video_local | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}
                  {%- if enable_sticky_banner == blank -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}
              {%- else -%}
                <a
                  class="{% if enable_sticky_banner == blank %}h-full {% endif %} w-full d-block"
                  href="{{ banner_url }}"
                  aria-label="Link detail"
                >
                  {% if banner_img != blank %}
                    {%- render 'responsive-image', image: banner_img -%}
                  {% else %}
                    {%- render 'placeholder-render' | type: 'image' -%}
                  {% endif %}
                </a>
            {%- endcase -%}
            {%- if text_content != blank -%}
              <div class="text-content absolute inset-0 flex-column d-flex justify-content-center align-items-center text-center">
                {{ text_content }}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
        <div class="bls__product-with-banner {{ show_banner }} {{ show_sticky_banner }}">
          {%- render 'product-grid-layout' | st: st | product_grid: true | more_row: more_row -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.products-grid.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_header.title_header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_text.heading",
      "default": "Bestseller Product"
    },
    {
      "type": "checkbox",
      "id": "heading_border",
      "label": "t:sections.all.content_text.heading_border",
      "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.section_header.description",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.horizontal_alignment.text_alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.horizontal_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.horizontal_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.all.horizontal_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.header.general"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },
        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.products-grid.Product-settings"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "t:sections.products-grid.settings.collection.label"
    },
    {
      "type": "range",
      "id": "limit_products",
      "label": "t:sections.products-grid.settings.limit_products.label",
      "min": 1,
      "max": 30,
      "step": 1,
      "default": 8
    },
    {
      "type": "range",
      "id": "item_desktop",
      "label": "t:sections.products-grid.settings.item_desktop.label",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "t:sections.products-grid.settings.column_gap.label",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.products-grid.Banner-settings"
    },
    {
      "type": "checkbox",
      "id": "enable_banner",
      "label": "t:sections.products-grid.settings.enable_banner.label",
      "info": "t:sections.all.images_banner.info_show_banner",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_banner",
      "label": "t:sections.products-grid.settings.enable_sticky_banner.label",
      "default": false
    },
    {
      "type": "select",
      "id": "banner_type",
      "label": "t:sections.products-grid.settings.banner_type.label",
      "default": "image",
      "options": [
        {
          "value": "image",
          "label": "t:sections.products-grid.settings.banner_type.options__1.label"
        },
        {
          "value": "video",
          "label": "t:sections.products-grid.settings.banner_type.options__2.label"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "t:sections.products-grid.settings.banner_img.label",
      "info": "t:sections.products-grid.settings.banner_img.info"
    },
    {
      "id": "video_url",
      "type": "video_url",
      "label": "t:sections.products-grid.settings.video_url.label",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "video_local",
      "type": "video",
      "label": "t:sections.products-grid.settings.video_local.label",
      "info": "t:sections.products-grid.settings.video_local.info"
    },
    {
      "type": "select",
      "id": "banner_position",
      "label": "t:sections.products-grid.settings.banner_position.label",
      "default": "position-left",
      "options": [
        {
          "value": "position-left",
          "label": "t:sections.products-grid.settings.banner_position.options__1.label"
        },
        {
          "value": "position-right",
          "label": "t:sections.products-grid.settings.banner_position.options__2.label"
        }
      ]
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "t:sections.products-grid.settings.banner_link.label"
    },
    {
      "type": "range",
      "id": "banner_width",
      "label": "t:sections.products-grid.settings.banner_width.label",
      "min": 15,
      "max": 50,
      "step": 1,
      "unit": "%",
      "default": 30
    },
    {
      "type": "select",
      "id": "content_banner_style",
      "label": "t:sections.products-grid.settings.content_banner_style.label",
      "options": [
        {
          "value": "Overlay image",
          "label": "t:sections.products-grid.settings.content_banner_style.options__1.label"
        },
        {
          "value": "Bellow image",
          "label": "t:sections.products-grid.settings.content_banner_style.options__2.label"
        }
      ],
      "default": "Bellow image"
    },
    {
      "type": "select",
      "id": "content_banner_horizontal",
      "label": "t:sections.products-grid.settings.content_banner_horizontal.label",
      "options": [
        {
          "value": "Top",
          "label": "t:sections.products-grid.settings.content_banner_horizontal.options__1.label"
        },
        {
          "value": "Bottom",
          "label": "t:sections.products-grid.settings.content_banner_horizontal.options__2.label"
        }
      ],
      "default": "Top",
      "info": "t:sections.products-grid.settings.content_banner_horizontal.info"
    },
    {
      "type": "select",
      "id": "content_banner_overlay_horizontal",
      "label": "t:sections.products-grid.settings.content_banner_overlay_horizontal.label",
      "options": [
        {
          "value": "Top",
          "label": "t:sections.products-grid.settings.content_banner_overlay_horizontal.options__1.label"
        },
        {
          "value": "Middle",
          "label": "t:sections.products-grid.settings.content_banner_overlay_horizontal.options__2.label"
        },
        {
          "value": "Bottom",
          "label": "t:sections.products-grid.settings.content_banner_overlay_horizontal.options__3.label"
        }
      ],
      "default": "Middle",
      "info": "t:sections.products-grid.settings.content_banner_overlay_horizontal.info"
    },
    {
      "type": "select",
      "id": "text_banner_alignment",
      "label": "t:sections.all.horizontal_alignment.text_alignment",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.horizontal_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.horizontal_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.all.horizontal_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.content_text.heading",
      "default": "Heading"
    },
    {
      "type": "range",
      "id": "heading_banner_fs",
      "label": "t:sections.all.typography.default_size",
      "min": 20,
      "max": 120,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "select",
      "id": "heading_banner_fw",
      "label": "t:sections.all.typography.default_weight",
      "default": "default",
      "options": [
        {
          "label": "t:sections.all.default_text.label",
          "value": "default"
        },
        {
          "label": "300",
          "value": "300"
        },
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        },
        {
          "label": "700",
          "value": "700"
        },
        {
          "label": "800",
          "value": "800"
        },
        {
          "label": "900",
          "value": "900"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_banner_tf",
      "label": "t:sections.all.content_text.text_transform.label",
      "options": [
        {
          "value": "unset",
          "label": "t:sections.all.content_text.text_transform.unset.label"
        },
        {
          "value": "capitalize",
          "label": "t:sections.all.content_text.text_transform.capitalize.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.all.content_text.text_transform.uppercase.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.typography.spacing"
    },
    {
      "type": "range",
      "id": "heading_banner_mt",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 0,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "heading_banner_mb",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 10,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "richtext",
      "id": "txt_content",
      "label": "t:sections.all.content_text.text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review</p>"
    },
    {
      "type": "range",
      "id": "txt_fs",
      "label": "t:sections.all.typography.default_size",
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "select",
      "id": "txt_fw",
      "label": "t:sections.all.typography.default_weight",
      "default": "default",
      "options": [
        {
          "label": "t:sections.all.default_text.label",
          "value": "default"
        },
        {
          "label": "300",
          "value": "300"
        },
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        }
      ]
    },
    {
      "type": "color",
      "id": "tx_color",
      "label": "Color text",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "txt_tf",
      "label": "t:sections.all.content_text.text_transform.label",
      "options": [
        {
          "value": "unset",
          "label": "t:sections.all.content_text.text_transform.unset.label"
        },
        {
          "value": "capitalize",
          "label": "t:sections.all.content_text.text_transform.capitalize.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.all.content_text.text_transform.uppercase.label"
        },
        {
          "value": "lowercase",
          "label": "t:sections.all.content_text.text_transform.lowercase.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.typography.spacing"
    },
    {
      "type": "range",
      "id": "txt_mt",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "txt_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 25,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "text",
      "id": "btn_banner_content",
      "label": "t:sections.all.content_text.button_text",
      "default": "Button"
    },
    {
      "type": "select",
      "id": "button_banner_type",
      "label": "t:sections.all.content_text.button_type.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.content_text.button_type.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.content_text.button_type.options__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.content_text.button_type.options__1.label"
        }
      ]
    },
    {
      "type": "url",
      "id": "button_banner_link",
      "label": "t:sections.all.content_text.button_link"
    },
    {
      "type": "checkbox",
      "id": "button_banner_target",
      "label": "t:sections.all.content_text.button_target"
    },
    {
      "type": "header",
      "content": "t:sections.all.typography.spacing"
    },
    {
      "type": "header",
      "content": "t:sections.products-grid.View-all"
    },
    {
      "type": "checkbox",
      "id": "view_all_enable",
      "label": "t:sections.products-grid.settings.view_all_enable.label",
      "default": false
    },
    {
      "type": "text",
      "id": "text_view_all",
      "label": "t:sections.products-grid.settings.text_view_all.label",
      "default": "View All"
    },
    {
      "type": "header",
      "content": "t:sections.products-grid.Button-settings"
    },
    {
      "type": "checkbox",
      "id": "load_more_button_enable",
      "label": "t:sections.products-grid.settings.load_more_button_enable.label",
      "default": false
    },
    {
      "type": "range",
      "id": "number_of_rows",
      "label": "t:sections.products-grid.settings.number_of_rows.label",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "select",
      "id": "button_action",
      "label": "t:sections.products-grid.settings.button_action.label",
      "default": "load",
      "options": [
        {
          "value": "load",
          "label": "t:sections.products-grid.settings.button_action.options__1.label"
        },
        {
          "value": "redirect",
          "label": "t:sections.products-grid.settings.button_action.options__2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.products-grid.settings.button_label.label",
      "default": "Load more"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "t:sections.all.content_text.button_type.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.content_text.button_type.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.content_text.button_type.options__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.content_text.button_type.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.reset_spacing.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.products-grid.name"
    }
  ]
}
{% endschema %}
