{{ 'tiktok.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign container = st.container
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign color_scheme = st.color_scheme
  assign img_view = st.ib_img_view
  assign blocks = section.blocks
  assign heading_border = st.heading_border
  assign column_gap = st.column_gap
  assign enabled_animations = settings.animations_enabled

  assign column_gap_tablet = ''
  if column_gap > 30
    assign column_gap_tablet = ' gap-tablet'
  endif
  assign column_gap_mobile = ''
  if column_gap > 15
    assign column_gap_mobile = ' gap-mobile'
  endif

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif

  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif
-%}

{%- capture style -%}
    --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px; --bls-gutter-x: {{ column_gap }}px;
  {%- endcapture -%}
<section
  class="color-{{ color_scheme }} gradient bls__section {{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }} bls__tiktok{{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ container }} section-full">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align }}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5 {% if heading_border %}heading-border{% endif %} {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
            {{ heading }}
          </h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class=" tiktok-wrap pb-10 {{ column_gap_tablet }}{{ column_gap_mobile }}"
      style="--bs-gutter-x: {{ column_gap }}px;"
    >
      {%- for block in blocks -%}
        <div
          class="tiktok-column {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}"
          {% if enabled_animations %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          <div class="bls__section_tiktok-inner flex{{ img_view }} {% if img_view == 'border' %}p-15{%- endif -%}">
            <div class="bls__section_tiktok-image bls_img-ratio {% if settings.image_style != blank and section.settings.container != "full-width" and section.settings.column_gap != 0 %} hover-effect radius {% endif %}">
              {%- if block.settings.tiktok_embed_url != blank -%}
                {{ block.settings.tiktok_embed_url }}
              {%- else -%}
                {%- render 'placeholder-render' | type: product -%}
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
    {%- if settings.social_tiktok_link != blank and st.tiktok_handle != blank -%}
      <div class="social-tiktok-link w-full text-center">
        <a
          class="mb-0 mt-20 d-inline-block"
          role="link"
          aria-disabled="true"
          href="{{ settings.social_tiktok_link }}"
          target="_blank"
        >
          {{ st.tiktok_handle }}
        </a>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.tiktok-video.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_header.title_header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_text.heading"
    },
    {
      "type": "checkbox",
      "id": "heading_border",
      "label": "t:sections.all.content_text.heading_border",
      "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.section_header.description",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.horizontal_alignment.text_alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.horizontal_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.horizontal_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.all.horizontal_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.header.general"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },
        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "range",
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 5,
      "default": 30,
      "label": "t:sections.tiktok-video.settings.column_gap.label",
      "id": "column_gap"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "richtext",
      "id": "tiktok_handle",
      "label": "t:sections.tiktok-video.settings.tiktok_handle.label",
      "default": "<p>@yourTiktokHandle</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.reset_spacing.label",
      "default": false
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "video",
      "name": "t:sections.tiktok-video.blocks.Video.name",
      "settings": [
        {
          "type": "textarea",
          "id": "tiktok_embed_url",
          "label": "t:sections.tiktok-video.blocks.Video.settings.tiktok_embed_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tiktok-video.name",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
